* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: "Poppins", sans-serif;
}

.main-box {
    display: flex;
    background-color: #363636;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    /* flex-direction: row; */
}

.nav-side {
    position: absolute;
    width: 100%;
    height: 7vw;
    z-index: 3;
}

.main-box-right {
    width: 59%;
    flex: 1;
    position: absolute;
    z-index: 2;
    padding: 4% 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-box-right h5 {
    margin-top: 5rem;
    font-size: 6vw;
    font-weight: bold;
    color: #ffffff;
    max-width: 90%;
    max-height: 15%;
}

.main-box-right h3 {
    font-size: 2vw;
    font-weight: 200;
    color: #ffffff;
    max-width: 90%;
    margin-top: 2rem;
}

.btn-1 {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 3rem;
}

.btn-1 button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-content {
    width: 56px;
    height: 48px;
}

.main-box-left {
    position: absolute;
    flex: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.5s ease;
    transform-origin: bottom right;
    z-index: 1;
}
.main-box-left img{
    width: 100%;
    height: 100%;
}

.main-box-left:hover {
    transform: scale(0.75);
}
