* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: "Poppins", sans-serif;
    background-color: #363636;
}

.nav-side {
    position: absolute;
}

.page4_box {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: #363636;
    position: relative;
}

.page4_box-2 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    max-width: 1400px;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

.page4_box-2 h5 {
    font-size: 4.5vw;
    font-weight: bold;
    color: #ffffff;
    flex: 1 1 60%;
    align-self: center;
    margin-top: -9.5em;
    height: auto;
    width: auto;
    text-align: center;
}



.page4_box-2-btn-1,
.page4_box-2-btn-2 {
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 1;
    margin-top: 2rem;
    background-color: #fff;
    transition: opacity 0.5s ease;
}

.page4_hide {
    opacity: 0;
}

.page4_btn-content {
    width: 50%;
    height: 50%;
}

.page4_content-page2 {
    width: auto;
    height: auto;
    margin-top: 4rem;
    margin-left: 2rem;
    display: flexbox;
    align-items: center;
    align-content: center;
}

.page4_content-page2 h5 {
    width: auto;
    height: auto;
    font-size: 3vw;
    font-weight: bold;
    color: #ffffff;
}

.page4_content-page2 h3 {
    width: auto;
    height: auto;
    font-size: 1.5vw;
    font-weight: 200;
    color: #ffffff;
    margin-top: 0.5rem;
}

.page4_btn-3 button {
    position: absolute;
    z-index: 2;
    width: 6.5vw;
    height: 6.5vw;
    background-color: #A57FC0;
    border-radius: 100%;
    border: none;
    cursor: pointer;
}

.fi_btn {
    width: 4vw;
    height: 4vw;
    color: #ffffff;
    margin-block: auto;
    border: none;
    box-shadow: 8px 3px 4px 0px #a57fc0;
    border-radius: 100%;
}

.page4_btn-3 {
    height: 30vh;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.media {
    position: absolute;
    z-index: 1;
    width: 348px;
    height: 323px;
    margin-top: 0em;
    margin-left: 1.8em;
}


.media1 {
    position: absolute;
    width: 6vw;
    height: 6vw;
    margin-left: 119px;
    margin-top: 122px;
    border-radius: 100%;
    border: none;
    cursor: pointer;
}

.media1 img{
    width: 6vw;
    height: 6vw;
}

.media2 {
    position: absolute;
    width: 6vw;
    height: 6vw;
    margin-left: 119px;
    margin-top: 122px;
    border-radius: 100%;
    border: none;
    cursor: pointer;
}
.media2 img{
    width: 6vw;
    height: 6vw;
}
.media3 {
    position: absolute;
    width: 6vw;
    height: 6vw;
    margin-left: 119px;
    margin-top: 122px;
    border-radius: 100%;
    border: none;
    cursor: pointer;
}
.media3 img{
    width: 6vw;
    height: 6vw;
}
.media4 {
    position: absolute;
    width: 6vw;
    height: 6vw;
    margin-left: 119px;
    margin-top: 122px;
    border-radius: 100%;
    border: none;
    cursor: pointer;
}
.media4 img{
    width: 6vw;
    height: 6vw;
}

.media5 {
    position: absolute;
    width: 6vw;
    height: 6vw;
    margin-left: 119px;
    margin-top: 122px;
    border-radius: 100%;
    border: none;
    cursor: pointer;
}
.media5 img{
    width: 6vw;
    height: 6vw;
}